1_IMPORT/*
!1_IMPORT/.gitkeep
1_PRORES_DAVINCI/*
!1_PRORES_DAVINCI/.gitkeep
2_EXPORT/*
!2_EXPORT/.gitkeep
3_FINAL_SOCIAL/*
!3_FINAL_SOCIAL/.gitkeep
ARCHIV/*
*.mp4
*.mov
*.wav
*.mp3
*.mkv
*.webm
*.part
*.tmp
.DS_Store
